<a href="https://colab.research.google.com/github/firmanmaulana123/eda-boston-housing/blob/main/KlmpkALast.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
{
 "cells": [
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "#                                            Email Spam Filtering"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Importing Libraries"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 1,
   "metadata": {},
   "outputs": [],
   "source": [
    "import pandas as pd\n",
    "import numpy as np\n",
    "from sklearn.model_selection import train_test_split\n",
    "from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer\n",
    "from sklearn.naive_bayes import MultinomialNB\n",
    "from sklearn.metrics import accuracy_score\n",
    "import string\n",
    "import matplotlib.pyplot as plt"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Reading Dataset"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "metadata": {},
   "outputs": [],
   "source": [
    "dataset = pd.read_csv('/home/panther404/Downloads/HamSpamClassfier/hamspam.tsv',sep='\\t',names=['Output','Message'])"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Exploratory Data Analysis"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Output</th>\n",
       "      <th>Message</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>ham</td>\n",
       "      <td>I've been searching for the right words to tha...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>spam</td>\n",
       "      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>ham</td>\n",
       "      <td>Nah I don't think he goes to usf, he lives aro...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>ham</td>\n",
       "      <td>Even my brother is not like to speak with me. ...</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>ham</td>\n",
       "      <td>I HAVE A DATE ON SUNDAY WITH WILL!!</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  Output                                            Message\n",
       "0    ham  I've been searching for the right words to tha...\n",
       "1   spam  Free entry in 2 a wkly comp to win FA Cup fina...\n",
       "2    ham  Nah I don't think he goes to usf, he lives aro...\n",
       "3    ham  Even my brother is not like to speak with me. ...\n",
       "4    ham                I HAVE A DATE ON SUNDAY WITH WILL!!"
      ]
     },
     "execution_count": 3,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dataset.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 5568 entries, 0 to 5567\n",
      "Data columns (total 2 columns):\n",
      "Output     5568 non-null object\n",
      "Message    5568 non-null object\n",
      "dtypes: object(2)\n",
      "memory usage: 87.1+ KB\n"
     ]
    }
   ],
   "source": [
    "dataset.info()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Output</th>\n",
       "      <th>Message</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>count</th>\n",
       "      <td>5568</td>\n",
       "      <td>5568</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>unique</th>\n",
       "      <td>2</td>\n",
       "      <td>5165</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>top</th>\n",
       "      <td>ham</td>\n",
       "      <td>Sorry, I'll call later</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>freq</th>\n",
       "      <td>4822</td>\n",
       "      <td>30</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "       Output                 Message\n",
       "count    5568                    5568\n",
       "unique      2                    5165\n",
       "top       ham  Sorry, I'll call later\n",
       "freq     4822                      30"
      ]
     },
     "execution_count": 5,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dataset.describe()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "metadata": {},
   "outputs": [],
   "source": [
    "dataset['Length'] = dataset['Message'].apply(len)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Output</th>\n",
       "      <th>Message</th>\n",
       "      <th>Length</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>ham</td>\n",
       "      <td>I've been searching for the right words to tha...</td>\n",
       "      <td>196</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>spam</td>\n",
       "      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>\n",
       "      <td>155</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>ham</td>\n",
       "      <td>Nah I don't think he goes to usf, he lives aro...</td>\n",
       "      <td>61</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>ham</td>\n",
       "      <td>Even my brother is not like to speak with me. ...</td>\n",
       "      <td>77</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>ham</td>\n",
       "      <td>I HAVE A DATE ON SUNDAY WITH WILL!!</td>\n",
       "      <td>35</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "  Output                                            Message  Length\n",
       "0    ham  I've been searching for the right words to tha...     196\n",
       "1   spam  Free entry in 2 a wkly comp to win FA Cup fina...     155\n",
       "2    ham  Nah I don't think he goes to usf, he lives aro...      61\n",
       "3    ham  Even my brother is not like to speak with me. ...      77\n",
       "4    ham                I HAVE A DATE ON SUNDAY WITH WILL!!      35"
      ]
     },
     "execution_count": 7,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dataset.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Message</th>\n",
       "      <th>Length</th>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>Output</th>\n",
       "      <th></th>\n",
       "      <th></th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>ham</th>\n",
       "      <td>4822</td>\n",
       "      <td>4822</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>spam</th>\n",
       "      <td>746</td>\n",
       "      <td>746</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "        Message  Length\n",
       "Output                 \n",
       "ham        4822    4822\n",
       "spam        746     746"
      ]
     },
     "execution_count": 8,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dataset.groupby('Output').count()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "count    5568.000000\n",
       "mean       80.487428\n",
       "std        59.950961\n",
       "min         2.000000\n",
       "25%        36.000000\n",
       "50%        62.000000\n",
       "75%       122.000000\n",
       "max       910.000000\n",
       "Name: Length, dtype: float64"
      ]
     },
     "execution_count": 9,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dataset['Length'].describe()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# Data Preprocessing"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "metadata": {},
   "outputs": [],
   "source": [
    "y = dataset['Output'].values"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)"
      ]
     },
     "execution_count": 11,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "y"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Convert Value Of Ham = 1 & Spam = 0"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "metadata": {},
   "outputs": [],
   "source": [
    "dataset.loc[dataset['Output']==\"ham\",\"Output\"] = 1"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "metadata": {},
   "outputs": [],
   "source": [
    "dataset.loc[dataset['Output']==\"spam\",\"Output\"] = 0"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Output</th>\n",
       "      <th>Message</th>\n",
       "      <th>Length</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1</td>\n",
       "      <td>I've been searching for the right words to tha...</td>\n",
       "      <td>196</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>0</td>\n",
       "      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>\n",
       "      <td>155</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>1</td>\n",
       "      <td>Nah I don't think he goes to usf, he lives aro...</td>\n",
       "      <td>61</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>1</td>\n",
       "      <td>Even my brother is not like to speak with me. ...</td>\n",
       "      <td>77</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>1</td>\n",
       "      <td>I HAVE A DATE ON SUNDAY WITH WILL!!</td>\n",
       "      <td>35</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   Output                                            Message  Length\n",
       "0       1  I've been searching for the right words to tha...     196\n",
       "1       0  Free entry in 2 a wkly comp to win FA Cup fina...     155\n",
       "2       1  Nah I don't think he goes to usf, he lives aro...      61\n",
       "3       1  Even my brother is not like to speak with me. ...      77\n",
       "4       1                I HAVE A DATE ON SUNDAY WITH WILL!!      35"
      ]
     },
     "execution_count": 14,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dataset.head()"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Process On Messages"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "metadata": {},
   "outputs": [],
   "source": [
    "def cleanMessage(message):\n",
    "    nonPunc = [char for char in message if char not in string.punctuation]\n",
    "    nonPunc = \"\".join(nonPunc)\n",
    "    return nonPunc"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "metadata": {},
   "outputs": [],
   "source": [
    "dataset['Message'] = dataset['Message'].apply(cleanMessage)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/html": [
       "<div>\n",
       "<style scoped>\n",
       "    .dataframe tbody tr th:only-of-type {\n",
       "        vertical-align: middle;\n",
       "    }\n",
       "\n",
       "    .dataframe tbody tr th {\n",
       "        vertical-align: top;\n",
       "    }\n",
       "\n",
       "    .dataframe thead th {\n",
       "        text-align: right;\n",
       "    }\n",
       "</style>\n",
       "<table border=\"1\" class=\"dataframe\">\n",
       "  <thead>\n",
       "    <tr style=\"text-align: right;\">\n",
       "      <th></th>\n",
       "      <th>Output</th>\n",
       "      <th>Message</th>\n",
       "      <th>Length</th>\n",
       "    </tr>\n",
       "  </thead>\n",
       "  <tbody>\n",
       "    <tr>\n",
       "      <th>0</th>\n",
       "      <td>1</td>\n",
       "      <td>Ive been searching for the right words to than...</td>\n",
       "      <td>196</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>1</th>\n",
       "      <td>0</td>\n",
       "      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>\n",
       "      <td>155</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>2</th>\n",
       "      <td>1</td>\n",
       "      <td>Nah I dont think he goes to usf he lives aroun...</td>\n",
       "      <td>61</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>3</th>\n",
       "      <td>1</td>\n",
       "      <td>Even my brother is not like to speak with me T...</td>\n",
       "      <td>77</td>\n",
       "    </tr>\n",
       "    <tr>\n",
       "      <th>4</th>\n",
       "      <td>1</td>\n",
       "      <td>I HAVE A DATE ON SUNDAY WITH WILL</td>\n",
       "      <td>35</td>\n",
       "    </tr>\n",
       "  </tbody>\n",
       "</table>\n",
       "</div>"
      ],
      "text/plain": [
       "   Output                                            Message  Length\n",
       "0       1  Ive been searching for the right words to than...     196\n",
       "1       0  Free entry in 2 a wkly comp to win FA Cup fina...     155\n",
       "2       1  Nah I dont think he goes to usf he lives aroun...      61\n",
       "3       1  Even my brother is not like to speak with me T...      77\n",
       "4       1                  I HAVE A DATE ON SUNDAY WITH WILL      35"
      ]
     },
     "execution_count": 17,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "dataset.head()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 18,
   "metadata": {},
   "outputs": [],
   "source": [
    "CV = CountVectorizer(stop_words=\"english\")"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Independent And depended Data Organization"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "metadata": {},
   "outputs": [],
   "source": [
    "X = dataset['Message'].values"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "metadata": {},
   "outputs": [],
   "source": [
    "y = dataset['Output'].values"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Train And Test Data"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "metadata": {},
   "outputs": [],
   "source": [
    "X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Data Munging"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "### Data Munging (or Data Wrangling), it means preparing your data for a dedicated purpose - taking the data from its raw state and transforming and mapping into another format, normally for use beyond its original intent."
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "metadata": {},
   "outputs": [],
   "source": [
    "X_train_CV = CV.fit_transform(X_train)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "# 1. Naive Bayse :- Multinomial"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "metadata": {},
   "outputs": [],
   "source": [
    "NB = MultinomialNB()"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 24,
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)"
      ]
     },
     "execution_count": 24,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "NB.fit(X_train_CV,y_train)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "metadata": {},
   "outputs": [],
   "source": [
    "X_test_CV = CV.transform(X_test)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 26,
   "metadata": {},
   "outputs": [],
   "source": [
    "Y_predict = NB.predict(X_test_CV)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 27,
   "metadata": {},
   "outputs": [],
   "source": [
    "result = accuracy_score(y_test,Y_predict)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Accuracy Of Prediction :- 97.57630161579893\n"
     ]
    }
   ],
   "source": [
    "print(\"Accuracy Of Prediction :-\",result*100)"
   ]
  },
  {
   "cell_type": "markdown",
   "metadata": {},
   "source": [
    "## Realtime Application Of Spam Filtering :- "
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "Enter Email :- pantherofficial404@gmail.com\n",
      "Enter Body Of Content :- Hello You Have Won Lottery\n",
      "This Is Spam Mail\n"
     ]
    }
   ],
   "source": [
    "email  = input(\"Enter Email :- \")\n",
    "body = input(\"Enter Body Of Content :- \")\n",
    "bodyInput = CV.transform([body])\n",
    "result = NB.predict(bodyInput)\n",
    "if(result[0]==0):\n",
    "    print(\"This Is Spam Mail\")\n",
    "else:\n",
    "    print(\"Email Sent\")"
   ]
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.7.1"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 2
}

{'cells': [{'cell_type': 'markdown',
   'metadata': {},
   'source': ['#                                            Email Spam Filtering']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['# Importing Libraries']},
  {'cell_type': 'code',
   'execution_count': 1,
   'metadata': {},
   'outputs': [],
   'source': ['import pandas as pd\n',
    'import numpy as np\n',
    'from sklearn.model_selection import train_test_split\n',
    'from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer\n',
    'from sklearn.naive_bayes import MultinomialNB\n',
    'from sklearn.metrics import accuracy_score\n',
    'import string\n',
    'import matplotlib.pyplot as plt']},
  {'cell_type': 'markdown', 'metadata': {}, 'source': ['# Reading Dataset']},
  {'cell_type': 'code',
   'execution_count': 2,
   'metadata': {},
   'outputs': [],
   'source': ["dataset = pd.read_csv('/home/panther404/Downloads/HamSpamClassfier/hamspam.tsv',sep='\\t',names=['Output','Message'])"]},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['# Exploratory Data Analysis']},
  {'cell_type': 'code',
   'execution_count': 3,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Output</th>\n',
       '      <th>Message</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>ham</td>\n',
       "      <td>I've been searching for the right words to tha...</td>\n",
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>spam</td>\n',
       '      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>ham</td>\n',
       "      <td>Nah I don't think he goes to usf, he lives aro...</td>\n",
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>ham</td>\n',
       '      <td>Even my brother is not like to speak with me. ...</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>ham</td>\n',
       '      <td>I HAVE A DATE ON SUNDAY WITH WILL!!</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['  Output                                            Message\n',
       "0    ham  I've been searching for the right words to tha...\n",
       '1   spam  Free entry in 2 a wkly comp to win FA Cup fina...\n',
       "2    ham  Nah I don't think he goes to usf, he lives aro...\n",
       '3    ham  Even my brother is not like to speak with me. ...\n',
       '4    ham                I HAVE A DATE ON SUNDAY WITH WILL!!']},
     'execution_count': 3,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['dataset.head()']},
  {'cell_type': 'code',
   'execution_count': 4,
   'metadata': {},
   'outputs': [{'name': 'stdout',
     'output_type': 'stream',
     'text': ["<class 'pandas.core.frame.DataFrame'>\n",
      'RangeIndex: 5568 entries, 0 to 5567\n',
      'Data columns (total 2 columns):\n',
      'Output     5568 non-null object\n',
      'Message    5568 non-null object\n',
      'dtypes: object(2)\n',
      'memory usage: 87.1+ KB\n']}],
   'source': ['dataset.info()']},
  {'cell_type': 'code',
   'execution_count': 5,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Output</th>\n',
       '      <th>Message</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>count</th>\n',
       '      <td>5568</td>\n',
       '      <td>5568</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>unique</th>\n',
       '      <td>2</td>\n',
       '      <td>5165</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>top</th>\n',
       '      <td>ham</td>\n',
       "      <td>Sorry, I'll call later</td>\n",
       '    </tr>\n',
       '    <tr>\n',
       '      <th>freq</th>\n',
       '      <td>4822</td>\n',
       '      <td>30</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['       Output                 Message\n',
       'count    5568                    5568\n',
       'unique      2                    5165\n',
       "top       ham  Sorry, I'll call later\n",
       'freq     4822                      30']},
     'execution_count': 5,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['dataset.describe()']},
  {'cell_type': 'code',
   'execution_count': 6,
   'metadata': {},
   'outputs': [],
   'source': ["dataset['Length'] = dataset['Message'].apply(len)"]},
  {'cell_type': 'code',
   'execution_count': 7,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Output</th>\n',
       '      <th>Message</th>\n',
       '      <th>Length</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>ham</td>\n',
       "      <td>I've been searching for the right words to tha...</td>\n",
       '      <td>196</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>spam</td>\n',
       '      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>\n',
       '      <td>155</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>ham</td>\n',
       "      <td>Nah I don't think he goes to usf, he lives aro...</td>\n",
       '      <td>61</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>ham</td>\n',
       '      <td>Even my brother is not like to speak with me. ...</td>\n',
       '      <td>77</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>ham</td>\n',
       '      <td>I HAVE A DATE ON SUNDAY WITH WILL!!</td>\n',
       '      <td>35</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['  Output                                            Message  Length\n',
       "0    ham  I've been searching for the right words to tha...     196\n",
       '1   spam  Free entry in 2 a wkly comp to win FA Cup fina...     155\n',
       "2    ham  Nah I don't think he goes to usf, he lives aro...      61\n",
       '3    ham  Even my brother is not like to speak with me. ...      77\n',
       '4    ham                I HAVE A DATE ON SUNDAY WITH WILL!!      35']},
     'execution_count': 7,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['dataset.head()']},
  {'cell_type': 'code',
   'execution_count': 8,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Message</th>\n',
       '      <th>Length</th>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>Output</th>\n',
       '      <th></th>\n',
       '      <th></th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>ham</th>\n',
       '      <td>4822</td>\n',
       '      <td>4822</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>spam</th>\n',
       '      <td>746</td>\n',
       '      <td>746</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['        Message  Length\n',
       'Output                 \n',
       'ham        4822    4822\n',
       'spam        746     746']},
     'execution_count': 8,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ["dataset.groupby('Output').count()"]},
  {'cell_type': 'code',
   'execution_count': 9,
   'metadata': {},
   'outputs': [{'data': {'text/plain': ['count    5568.000000\n',
       'mean       80.487428\n',
       'std        59.950961\n',
       'min         2.000000\n',
       '25%        36.000000\n',
       '50%        62.000000\n',
       '75%       122.000000\n',
       'max       910.000000\n',
       'Name: Length, dtype: float64']},
     'execution_count': 9,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ["dataset['Length'].describe()"]},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['# Data Preprocessing']},
  {'cell_type': 'code',
   'execution_count': 10,
   'metadata': {},
   'outputs': [],
   'source': ["y = dataset['Output'].values"]},
  {'cell_type': 'code',
   'execution_count': 11,
   'metadata': {},
   'outputs': [{'data': {'text/plain': ["array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)"]},
     'execution_count': 11,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['y']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['## Convert Value Of Ham = 1 & Spam = 0']},
  {'cell_type': 'code',
   'execution_count': 12,
   'metadata': {},
   'outputs': [],
   'source': ['dataset.loc[dataset[\'Output\']=="ham","Output"] = 1']},
  {'cell_type': 'code',
   'execution_count': 13,
   'metadata': {},
   'outputs': [],
   'source': ['dataset.loc[dataset[\'Output\']=="spam","Output"] = 0']},
  {'cell_type': 'code',
   'execution_count': 14,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Output</th>\n',
       '      <th>Message</th>\n',
       '      <th>Length</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>1</td>\n',
       "      <td>I've been searching for the right words to tha...</td>\n",
       '      <td>196</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>0</td>\n',
       '      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>\n',
       '      <td>155</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>1</td>\n',
       "      <td>Nah I don't think he goes to usf, he lives aro...</td>\n",
       '      <td>61</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>1</td>\n',
       '      <td>Even my brother is not like to speak with me. ...</td>\n',
       '      <td>77</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>1</td>\n',
       '      <td>I HAVE A DATE ON SUNDAY WITH WILL!!</td>\n',
       '      <td>35</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['   Output                                            Message  Length\n',
       "0       1  I've been searching for the right words to tha...     196\n",
       '1       0  Free entry in 2 a wkly comp to win FA Cup fina...     155\n',
       "2       1  Nah I don't think he goes to usf, he lives aro...      61\n",
       '3       1  Even my brother is not like to speak with me. ...      77\n',
       '4       1                I HAVE A DATE ON SUNDAY WITH WILL!!      35']},
     'execution_count': 14,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['dataset.head()']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['## Process On Messages']},
  {'cell_type': 'code',
   'execution_count': 15,
   'metadata': {},
   'outputs': [],
   'source': ['def cleanMessage(message):\n',
    '    nonPunc = [char for char in message if char not in string.punctuation]\n',
    '    nonPunc = "".join(nonPunc)\n',
    '    return nonPunc']},
  {'cell_type': 'code',
   'execution_count': 16,
   'metadata': {},
   'outputs': [],
   'source': ["dataset['Message'] = dataset['Message'].apply(cleanMessage)"]},
  {'cell_type': 'code',
   'execution_count': 17,
   'metadata': {},
   'outputs': [{'data': {'text/html': ['<div>\n',
       '<style scoped>\n',
       '    .dataframe tbody tr th:only-of-type {\n',
       '        vertical-align: middle;\n',
       '    }\n',
       '\n',
       '    .dataframe tbody tr th {\n',
       '        vertical-align: top;\n',
       '    }\n',
       '\n',
       '    .dataframe thead th {\n',
       '        text-align: right;\n',
       '    }\n',
       '</style>\n',
       '<table border="1" class="dataframe">\n',
       '  <thead>\n',
       '    <tr style="text-align: right;">\n',
       '      <th></th>\n',
       '      <th>Output</th>\n',
       '      <th>Message</th>\n',
       '      <th>Length</th>\n',
       '    </tr>\n',
       '  </thead>\n',
       '  <tbody>\n',
       '    <tr>\n',
       '      <th>0</th>\n',
       '      <td>1</td>\n',
       '      <td>Ive been searching for the right words to than...</td>\n',
       '      <td>196</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>1</th>\n',
       '      <td>0</td>\n',
       '      <td>Free entry in 2 a wkly comp to win FA Cup fina...</td>\n',
       '      <td>155</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>2</th>\n',
       '      <td>1</td>\n',
       '      <td>Nah I dont think he goes to usf he lives aroun...</td>\n',
       '      <td>61</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>3</th>\n',
       '      <td>1</td>\n',
       '      <td>Even my brother is not like to speak with me T...</td>\n',
       '      <td>77</td>\n',
       '    </tr>\n',
       '    <tr>\n',
       '      <th>4</th>\n',
       '      <td>1</td>\n',
       '      <td>I HAVE A DATE ON SUNDAY WITH WILL</td>\n',
       '      <td>35</td>\n',
       '    </tr>\n',
       '  </tbody>\n',
       '</table>\n',
       '</div>'],
      'text/plain': ['   Output                                            Message  Length\n',
       '0       1  Ive been searching for the right words to than...     196\n',
       '1       0  Free entry in 2 a wkly comp to win FA Cup fina...     155\n',
       '2       1  Nah I dont think he goes to usf he lives aroun...      61\n',
       '3       1  Even my brother is not like to speak with me T...      77\n',
       '4       1                  I HAVE A DATE ON SUNDAY WITH WILL      35']},
     'execution_count': 17,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['dataset.head()']},
  {'cell_type': 'code',
   'execution_count': 18,
   'metadata': {},
   'outputs': [],
   'source': ['CV = CountVectorizer(stop_words="english")']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['## Independent And depended Data Organization']},
  {'cell_type': 'code',
   'execution_count': 19,
   'metadata': {},
   'outputs': [],
   'source': ["X = dataset['Message'].values"]},
  {'cell_type': 'code',
   'execution_count': 20,
   'metadata': {},
   'outputs': [],
   'source': ["y = dataset['Output'].values"]},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['## Train And Test Data']},
  {'cell_type': 'code',
   'execution_count': 21,
   'metadata': {},
   'outputs': [],
   'source': ['X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)']},
  {'cell_type': 'markdown', 'metadata': {}, 'source': ['## Data Munging']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['### Data Munging (or Data Wrangling), it means preparing your data for a dedicated purpose - taking the data from its raw state and transforming and mapping into another format, normally for use beyond its original intent.']},
  {'cell_type': 'code',
   'execution_count': 22,
   'metadata': {},
   'outputs': [],
   'source': ['X_train_CV = CV.fit_transform(X_train)']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['# 1. Naive Bayse :- Multinomial']},
  {'cell_type': 'code',
   'execution_count': 23,
   'metadata': {},
   'outputs': [],
   'source': ['NB = MultinomialNB()']},
  {'cell_type': 'code',
   'execution_count': 24,
   'metadata': {},
   'outputs': [{'data': {'text/plain': ['MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)']},
     'execution_count': 24,
     'metadata': {},
     'output_type': 'execute_result'}],
   'source': ['NB.fit(X_train_CV,y_train)']},
  {'cell_type': 'code',
   'execution_count': 25,
   'metadata': {},
   'outputs': [],
   'source': ['X_test_CV = CV.transform(X_test)']},
  {'cell_type': 'code',
   'execution_count': 26,
   'metadata': {},
   'outputs': [],
   'source': ['Y_predict = NB.predict(X_test_CV)']},
  {'cell_type': 'code',
   'execution_count': 27,
   'metadata': {},
   'outputs': [],
   'source': ['result = accuracy_score(y_test,Y_predict)']},
  {'cell_type': 'code',
   'execution_count': 28,
   'metadata': {},
   'outputs': [{'name': 'stdout',
     'output_type': 'stream',
     'text': ['Accuracy Of Prediction :- 97.57630161579893\n']}],
   'source': ['print("Accuracy Of Prediction :-",result*100)']},
  {'cell_type': 'markdown',
   'metadata': {},
   'source': ['## Realtime Application Of Spam Filtering :- ']},
  {'cell_type': 'code',
   'execution_count': 29,
   'metadata': {},
   'outputs': [{'name': 'stdout',
     'output_type': 'stream',
     'text': ['Enter Email :- pantherofficial404@gmail.com\n',
      'Enter Body Of Content :- Hello You Have Won Lottery\n',
      'This Is Spam Mail\n']}],
   'source': ['email  = input("Enter Email :- ")\n',

In [5]:
%pip install spacy-langdetect

Collecting spacy-langdetect
  Downloading spacy_langdetect-0.1.2-py3-none-any.whl.metadata (3.4 kB)
Requirement already satisfied: pytest in /usr/local/lib/python3.11/dist-packages (from spacy-langdetect) (8.3.5)
Collecting langdetect==1.0.7 (from spacy-langdetect)
  Downloading langdetect-1.0.7.zip (998 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 998.1/998.1 kB 13.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from langdetect==1.0.7->spacy-langdetect) (1.17.0)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.11/dist-packages (from pytest->spacy-langdetect) (2.1.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from pytest->spacy-langdetect) (24.2)
Requirement already satisfied: pluggy<2,>=1.5 in /usr/local/lib/python3.11/dist-packages (from pytest->spacy-langdetect) (1.6.0)
Downloading spacy_langdetect-0.1.2-py3-none-any.whl (5.0 kB)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.7-py3-none-any.whl size=993412 sha256=83768ea366fc7e482b1e0e6f1e6d5e17844e6c39a34f46bc7929ff8a71b4160d
  Stored in directory: /root/.cache/pip/wheels/c7/22/8b/c053f2c06a804491c614f194322b8fa897fd092e47e75c51de
Successfully built langdetect
Installing collected packages: langdetect, spacy-langdetect
Successfully installed langdetect-1.0.7 spacy-langdetect-0.1.2